# Environment variables
.env
.env.*

# Node modules
node_modules/

# Prisma
prisma/*.db
prisma/*.db-journal

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# VS Code local settings
.vscode/